@model PostViewModel

@{
    ViewBag.Title = Model.Title;
}

@section navbar {
    @if (Request.IsAuthenticated)
    {
        <ul class="nav pull-right">
            <li><a href="@Url.Action("Edit", "Post", new {id = Model.Id, Area = Constants.Areas.Admin})"><i class="icon-edit"></i> Edit Post</a></li>
            <li><a href="@Url.Action("Delete", "Post", new {id = Model.Id, Area = Constants.Areas.Admin})"><i class="icon-trash"></i> Delete Post</a></li>
        </ul>
    }
}

<div class="page-header">

    <h1>@Model.Title
        @if (Model.PublishedOn.HasValue)
        {
            <small>Published @Html.DisplayFor(x => Model.PublishedOn)</small>
        }
    </h1>
</div>
<div class="row-fluid">
    <div class="span6">
        @Model.Body
    </div>
</div>