@model PageInputModel

@{
    ViewBag.Title = "Edit Page " + Model.Title;
}

@section head
{
    @Styles.Render("~/Scripts/codemirror-3.0/lib/codemirror.css")
@Styles.Render("~/Scripts/codemirror-3.0/theme/night.css")
    <style type="text/css">
        body, html {
            height: 100%;
        }

        #Body, #preview {
            height: 100%;
            /*overflow: scroll;*/
        }
        .CodeMirror {
            height: 100%;
            width: 99%;
            border: 1px solid #ccc;
            /*overflow: scroll;*/
        }

    </style>
}

@section navbar {
    <button type="button" class="pull-right btn btn-small btn-primary" id="submitBtn"><i class="icon-save"></i> Update Page</button>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "updateForm" }))
{
    @Html.ValidationSummary(false)
    @Html.EditorForModel()
}

@section scripts
{
    @Scripts.Render("~/Scripts/codemirror-3.0/lib/codemirror.js")
    @Scripts.Render("~/Scripts/codemirror-3.0/mode/xml/xml.js")
    @Scripts.Render("~/Scripts/codemirror-3.0/mode/javascript/javascript.js")
    @Scripts.Render("~/Scripts/codemirror-3.0/mode/htmlmixed/htmlmixed.js")
    <script type="text/javascript">

        $(function() {
            var delay;
            // Initialize CodeMirror editor with a nice html5 canvas demo.
            var editor = CodeMirror.fromTextArea(document.getElementById('Body'), {
                mode: 'text/html',
                tabMode: 'indent',
                lineWrapping: true
            });
            editor.on('change', function() {
                clearTimeout(delay);
                delay = setTimeout(updatePreview, 300);
            });

            function updatePreview() {
                $('#preview').html(editor.getValue());
            }

            setTimeout(updatePreview, 300);

            $('#submitBtn').click(function() {
                $('#updateForm').submit();
            });
        });
    </script>
}