@model LogOnModel

@{
    ViewBag.Title = "Log On";
}

<div class="page-header">
    <h1>Sign In</h1>
</div>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    @Html.Hidden("returnUrl", Request["returnUrl"])

    <div class="form-actions">
        <button type="submit" class="btn btn-large btn-primary"><i class="icon-lock"></i> Sign In</button>
    </div>
}

@section scripts {
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    <script type="text/javascript">
        $(function() {
            var $field = $('#Username');
            if ($field.val()) {
                $field = $('#Password');
            }
            if ($field !== null)
                $field.focus();
        });
    </script>
}