@using Blog.Web
@model PostInputModel

@{
    ViewBag.PageTitle = "Edit Post " + Model.Title;
}

@section head
{
    @Styles.Render("~/Scripts/mdd_styles.css")
    @Styles.Render("~/Scripts/redactor/redactor.css")
    <style type="text/css">
        .mdd_editor, .mdd_editor_wrap {
            height: 90%;
            /*height: 100%;*/
        }
        /*
        .mdd_preview {
            height: 100%;
            overflow-y: scroll;
        }

        #updateForm {
            height: 100%;
        }*/
    </style>
}

@section navbar {
    <button type="button" class="pull-right btn btn-small btn-primary" id="submitBtn"><i class="icon-save"></i> Update Post</button>
}

@using (Html.BeginForm(null, null, new { area = Constants.Areas.Admin }, FormMethod.Post, new { id = "updateForm", @class = "" }))
{
    @Html.ValidationSummary(false)
    @Html.EditorForModel()
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large"><i class="icon-save"></i> Update Post</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/Scripts/redactor/redactor.js")
    @Scripts.Render("~/Scripts/MarkdownDeepLib.min.js")
    @Scripts.Render("~/Scripts/pages/post-editor.js")
}